ul.features {
    list-style-type: none;
    padding-inline-start: 0px;
}
ul.features>li{
    margin-left: 30%;
    margin-right: 30%;
}

div.city-styles.light-green>p{
    color: rgb(16, 177, 64);
}


div.w3-panel.w3-border.w3-round-large.w3-border-light-green{
    width: 300px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
div.btn-styles{
    position: relative;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    
}
button.w3-button.w3-border{
    padding: 8px 24px;
}

p{
    text-align: center;
}

p.degrees{
    font-size: 300%
}
hr{
    width: 100%;
    margin: 0 auto;
}